parse.example.com {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8000 {
        flush_interval -1
    }
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
    }
}
